<head>
    <%- include('./partials/head.ejs') %>

        <title>Add New Movie</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <main class="container">
            <h1>Añadir nueva película</h1>
        </main>
</body>