<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <h1>Añadir nueva película</h1>
    <form class="container" method="post" action="/movies/add-form">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" maxlength="60">
        <label for="urlImage">URL Imagen: </label>
        <input type="url" name="urlImage" id="urlImage">
        <input type="submit" value="Añadir">
    </form>
</body>
</html>