<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Movies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Movies Database</h1>
        <article>
            <header>El Planeta De Los Simios</header>
            <img src="" alt="">
            <footer>Año de lanzamiento: 1960</footer>
        </article>

    </main>
</body>

</html>