<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Movies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Movies Database</h1>
        <section class="container">
            <!-- Formulario. 1. De momento solo buscar por título- Al campo título le vamos poner el valor 'title' en el atributo 'name' (name="title") El endpoint donde debe enviar la información va a ser el mismo endpoint '/?title="jumanji"' . -->
            <form action="/">
                <label for="title">Título: </label>
                <input type="text" name="title" id="title">
                <input type="submit" value="Buscar">
            </form>
        </section>
        <% for (const doc of documents) { %>
            <article>
                <header>
                    <%= doc.title %>
                </header>
                <img src="<%= doc.poster %>" alt="">
                <footer>Año de lanzamiento: <%= doc.year %>
                </footer>
            </article>
            <% } %>

    </main>
</body>

</html>